<a href="https://colab.research.google.com/github/Tanoop999/CredictCard/blob/main/credict_card_fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How To analyze Data Frames

In [2]:
import pandas as pd
import numpy as np  
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
data = pd.read_csv(r'/content/creditcard.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
#checking the null values
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#distribution of legit transaction and fraudlent transaction
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

The dataset is highly unbalanced

0---> proper trasaction
1---> fraudlent transaction

In [8]:
#segregate the data for data analysis
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [9]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [10]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [11]:
#compare the values for both transaction
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under Sampling

Build a sample dataset containing similar distribution of normal transaction and fraudulent transaction

Number of fraudlent data -> 492

In [12]:
legit_sample = legit.sample(n=492)

Concatinating 2 data frames

In [13]:
new_data =pd.concat([legit_sample,fraud],axis = 0)   #axis =0 means rows

In [14]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
68730,53116.0,1.142918,0.177589,0.531145,1.474273,-0.356078,-0.380337,0.035260,-0.003263,0.355310,...,-0.087454,-0.042885,-0.014152,0.405286,0.600686,-0.331003,0.036709,0.017980,7.62,0
3418,2929.0,-0.542129,0.715610,0.258650,-2.658712,1.172945,0.254266,0.918883,-0.011747,0.941537,...,-0.007666,0.407163,-0.475662,-1.720563,0.238000,-0.714162,0.351381,0.014366,1.00,0
242653,151585.0,2.019027,0.128737,-1.599183,0.343539,0.401728,-0.658322,0.101639,-0.114034,0.187999,...,-0.298047,-0.779600,0.347844,0.675852,-0.305751,0.141832,-0.064830,-0.038250,1.79,0
157012,109344.0,-0.605148,1.762784,-0.998652,1.328601,1.417443,-0.630564,1.028508,0.116958,0.295998,...,-0.055923,0.201160,-0.192469,0.445841,0.091783,-0.441402,0.301913,0.187645,29.23,0
149443,91242.0,-0.539742,1.359431,2.766775,4.120233,0.520612,2.654390,-0.614862,0.617704,-0.377152,...,0.044411,0.535455,-0.375153,-0.383046,0.143184,0.532153,0.366929,0.157184,18.15,0

In [15]:
new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [16]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94231.016260,0.047917,0.078075,0.026200,0.050021,0.074500,0.184487,0.108471,0.047957,-0.027452,...,-0.000693,-0.034958,0.012215,0.028146,-0.017318,-0.004187,-0.038048,-0.000346,-0.012922,87.804492
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into Features ansd Targets

In [17]:
x= new_data.drop(columns ='Class', axis=1)
y = new_data['Class']

In [18]:
x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
68730,53116.0,1.142918,0.177589,0.531145,1.474273,-0.356078,-0.380337,0.035260,-0.003263,0.355310,...,-0.239034,-0.087454,-0.042885,-0.014152,0.405286,0.600686,-0.331003,0.036709,0.017980,7.62
3418,2929.0,-0.542129,0.715610,0.258650,-2.658712,1.172945,0.254266,0.918883,-0.011747,0.941537,...,0.169145,-0.007666,0.407163,-0.475662,-1.720563,0.238000,-0.714162,0.351381,0.014366,1.00
242653,151585.0,2.019027,0.128737,-1.599183,0.343539,0.401728,-0.658322,0.101639,-0.114034,0.187999,...,-0.136728,-0.298047,-0.779600,0.347844,0.675852,-0.305751,0.141832,-0.064830,-0.038250,1.79
157012,109344.0,-0.605148,1.762784,-0.998652,1.328601,1.417443,-0.630564,1.028508,0.116958,0.295998,...,0.116411,-0.055923,0.201160,-0.192469,0.445841,0.091783,-0.441402,0.301913,0.187645,29.23
149443,91242.0,-0.539742,1.359431,2.766775,4.120233,0.520612,2.654390,-0.614862,0.617704,-0.377152,...,0.547202,0.044411,0.535455,-0.375153,-0.383046,0.143184,0.532153,0.366929,0.157184,18.15

In [19]:
print(y)

68730     0
3418      0
242653    0
157012    0
149443    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Spliting the data into Training data & Testing data

In [20]:
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,stratify = y, random_state=2)

In [21]:
print(x.shape,x_train.shape,x_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

Logistic Regression

In [22]:
model = LogisticRegression()

In [23]:
# training the Logistic Regression model with Training Data
model.fit(x_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation


Accuracy Score

In [24]:
# accuracy on training data 
x_train_predict =model.predict(x_train)
train_data_accuracy = accuracy_score(x_train_predict,y_train)

In [25]:
print(train_data_accuracy)

0.951715374841169

In [26]:
# accuracy on test data 
x_test_predict =model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_predict,y_test)

In [27]:
print(test_data_accuracy)

0.9441624365482234